doctype html
html
	head
		title Band Website
		meta(name="viewport", content="width=device-width, initial-scale=1")

		script(src='https://code.jquery.com/jquery-3.3.1.js')
		link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

		script
			include ../node_modules/slick-carousel/slick/slick.js
			include ../func.js
			include templates.pug
		style
			include ../node_modules/slick-carousel/slick/slick.css
			include ../node_modules/slick-carousel/slick/slick-theme.css
			include ../styles/style.css

	body
		include nav.pug

		//- hero
		section.hero#hero
			.hero-body(style='position: relative')
				+heroCarousel()
					//- carousel
			.hero-foot
				#player

		#cta
			.content
				+ctaComp()
					//- cta section

		//- featured songs
		#featured
			.content
				.level
					.level-left
						.level-item
							h2 FEATURED SONGS
						.level-item
							h3 [iPlayers here]
						.level-item
							button.button-white FULL ALBUM
					.level-right
						.level-item
							h2 MUSIC VIDEO
						.level-item
							h3 [video here]

		//- sponsors
		#sponsor
			.content
				.columns
					.column
						h2 LOVE WHAT YOU HEAR?
						h4 Enjoy our music around the internet!
					.column
						+sponsors()
							//- sponsor logos

		//- releases
		#releases
			.content
				.level
					.level-left
						.level-item
							h2 LATEST RELEASES
					.level-right
						.level-item
							.arrows1
				+records()
					//- record carousel
				.level
					.level-left
					.level-right
						.level-item
							button.button-black FULL DISCOGRAPHY
				

		//- tour dates
		#tour
			#tourParallax
				#darkOverlay
				
			#tourContent.content
				.level
					.level-left
						.level-item
							h2 TOUR DATES
					.level-right
						.level-item
							button.button-white BUY TICKETS
				+tourList()
					//- tour info
				button.button-white(style='margin-top: 30px') VIEW MORE...
					

		//- testimonials
		#testimonials
			.content
				h2.has-text-centered WHAT OUR LISTENERS SAY:
				+reviews()
					//- listener reviews

		//- blog posts
		#blogPosts
			.content
				.level
					.level-left
						.level-item
							h2 MUSIC BLOG
					.level-right
						.level-item
							.arrows2
				+blogs()
					//- blog carousel

		//- order album
		#orderAlbum
			.content
				.level
					.level-item
						img(src='disc.png')
					.level-item
						#albumDesc
							h2 PRE-ORDER OUR NEW ALBUM!
							h4 Be the first to hear tracks
							button.button-black PURCHASE NOW!

		//- pre-footer
		#prefooter
			.content
				.columns
					.column
						#news
							h2 Recent news

							+recentNews()
								//- 3 news links
					.column
						#feed
							h2 Latest feed

							.feed
								h4 3 years ago
								hr
								h4 Look how great sports websites are created @cmsmasters: #[a(href="https://t.co/LJzYA0kwIk") https://t.co/LJzYA0kwIk]
							.feed
								h4 3 years ago
								hr
								h4 Sports Club WordPress Theme by @cmsmasters: #[a(href="https://t.co/El0C0Xs5mL") https://t.co/El0C0Xs5mL]
					.column
						#photos
							h2 Photo gallery

							+gallery()
								//- img gallery
					.column
						h2 Useful Links

						+useful()
							//- useful links

		//- footer
		#footer
			.columns
				.column
					h5 All credit goes to #[a(href='http://music-band.cmsmasters.net/') this template]
				#footerLinks.column
					.columns
						.column
							h5 Tickets
						.column
							h5 Contacts
						.column
							h5 Tour
						.column
							h5 Album
						.column
							h5 Meet Us

		